@model TakamulTaskMohammedSalah.DAL.Employee

@{
    ViewBag.Title = "AddEmployee";
}
<br />
<center>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>موظف جديد</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <label>اسم الموظف</label>
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Em_Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Em_Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label>اسم القسم</label>
                <div class="col-md-12">
                    @Html.DropDownList("D_ID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.D_ID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="حفظ" class="btn btn-info" />
                </div>
            </div>
        </div>
    }
</center>
<div>
    @Html.ActionLink("Back to List", "Employeeindex")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
